.highlight {
    background-color: yellow;
}
.nuevo-color {
    font-style: italic;
    color: rgb(0, 64, 255);
}

body{
    background-color:aqua;
}

form{
    display: flex;
    justify-content: center;
}